<!DOCTYPE html>

<html style="font-family:verdana;">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projeto PIP - Navegador desatualizado</title>

    <style>
        table {
            width: 80%;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 1%;
            text-align: center;
        }

        table.names th {
            background-color: black;
            color: white
        }
    </style>
</head>
<body>

    <div>
        <br />
        <h2 style="color:red;">Seu navegador precisa ser atualizado!</h2>
        <hr />
    </div>

    <div>
        <br />
        <h3>Suporte a navegadores</h3>
        <table  class="names">
            <thead>
                <tr>
                    <th>Chrome</th>
                    <th>Firefox</th>
                    <th>Microsoft Edge</th>
                    <th>Internet Explorer</th>
                    <th>Opera</th>
                    <th>Safari e demais</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-success">Suportado (45+)</td>
                    <td class="text-success">Suportado (38+)</td>
                    <td class="text-success">Suportado (12+)</td>
                    <td class="text-success">Suportado (10+)</td>
                    <td class="text-success">Suportado (30+)</td>
                    <td class="text-danger">Not Suportado</td>
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        <label>Saiba mais em:</label>
        <a href="https://getbootstrap.com/docs/4.0/getting-started/browsers-devices/">Bootstrap</a>
    </div>
</body>
</html>
