@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<br />
<h2 style="text-indent:40pt">Planejamento Integrado da Produção (PIP)</h2>

<br />
<h4 style='text-indent:80pt'>Seja bem vindo</h4>
<hr />