<h4 align="center">PAINEL GERENCIAL DAS PROGRAMADAS</h4>
<hr />

<div class="row" align="center">
    <div class="col-sm-6">
        <h6>DESVIO CONH</h6>
        <div id="chart-desvio-conh"></div>
    </div>

    <div class="col-sm-6">
        <h6>DESVIO CONI</h6>
        <div id="chart-desvio-coni"></div>
    </div>
</div>

<br />
<br />
<br />

<div class="row" align="center">
    <div class="col-sm-4">
        <h6>QUALIDADE/MANUTENÇÃO - TRONCO</h6>
        <br />
        <div id="chart-qualidade-manutencao-01"></div>
    </div>

    <div class="col-sm-4">
        <h6>QUALIDADE/MANUTENÇÃO - RAMAL</h6>
        <br />
        <div id="chart-qualidade-manutencao-02"></div>
    </div>

    <div class="col-sm-4">
        <h6>AVANÇO OPEX (YTD)</h6>
        <br />
        <div id="chart-avanco-opex-01"></div>
    </div>

</div>

<br />
<br />
<br />

<div class="row" align="center">

    <div class="col-sm-6">
        <h6> CLIENTES</h6>
        <h7> (dias para o vencimento)</h7>
        <div id="chart-obras-clientes"></div>
    </div>

    <div class="col-sm-6">
        <h6>DIAS DE PROGRAMAÇÃO</h6>
        <div id="chart-dias-programacao"></div>
    </div>
</div>
