@{

    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Não autorizado";
}

<div id="Errors">
    <div class="container">
        <div class="row centered-group-form">
            <i class="fas fa-ban" id="icon"></i>
        </div>
        <div class="row centered-group-form">
            <p class="text-1 font-weight-bold">ACESSO NEGADO!</p>
        </div>
        <div class="centered-group-form">
            <p class="text-2">Recurso não disponível.</p>
        </div>

        <div class="centered-group-form">
            <p class="text-3">Você não possui os direitos necessários para acessar este recurso...</p>
        </div>
    </div>
</div>
